name: CMake on multiple platforms
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] #, windows-latest
        build_type: [Release]
        c_compiler: [gcc-13, clang-18, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            c_compiler: gcc-13
            cpp_compiler: g++-13
          - os: ubuntu-latest
            c_compiler: clang-18
            cpp_compiler: clang++-18
        exclude:
          - os: windows-latest
            c_compiler: gcc-13
          - os: windows-latest
            c_compiler: clang-18
          - os: ubuntu-latest
            c_compiler: cl
    steps:
    - uses: actions/checkout@v4
    
    - name: Install GCC 13 (Ubuntu)
      if: matrix.c_compiler == 'gcc-13'
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-13 g++-13
    
    - name: Install Clang 18 (Ubuntu)
      if: matrix.c_compiler == 'clang-18'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 18
        sudo apt-get install -y clang-18 clang++-18
    
    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
    
    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DCMAKE_CXX_STANDARD=23
        -S ${{ github.workspace }}
    
    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}
    
    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest --build-config ${{ matrix.build_type }}
